.app {
    max-width: 1250px;
    width: 100%;
    margin: 100px auto;
}

.btn-new {
    border-radius: 5%;
    background-color: var(--bs-teal);
    background-size: cover;
}

.btn-new i {
    color: #282c34;
    padding: 15px;
}

.btn-new :hover{
    border-radius: 5%;
    background-color: whitesmoke;
}

.btn-table-func :hover {
    color: whitesmoke;
}

.btn-table-show {
    color: var(--bs-info);
    margin-right: 10px;
}

.btn-table-edit {
    color: var(--bs-yellow);
    margin-right: 10px;
}

.btn-table-delete {
    color: var(--bs-danger);
    margin-right: 10px;
}

.btn-cart {
    color: var(--bs-orange);
    margin-right: 10px;
    background-color: transparent;
    border: none;
}