<div class="app">
  <h1>Editing brand</h1>

  <div class="card">
    <div class="card-body">
      <%= render "form", brand: @brand %>
    <div>
  <div>
  
  <div>
    <%= link_to "Show this brand", @brand %> |
    <%= link_to "Back to brands", brands_path %>
  </div>
<div>
