<p style="color: green"><%= notice %></p>

<div class="app">
    <div class="row d-flex justify-content-between">
        <div class="col">
            <h1>Products</h1>
        </div>
        <div class="col d-flex justify-content-end align-items-center">
            <%= link_to '<i class="fa-solid fa-plus fa-2x"></i>'.html_safe, 
                new_product_path, :class => "btn-new" %>
        </div>
    </div>

    <%= render "product_table", products: @products %>
</div>

