<p style="color: green"><%= notice %></p>

<div class="app">
    <div class="row d-flex justify-content-between">
        <div class="col">
            <h1>Products</h1>
        </div>
        <div class="col d-flex justify-content-end align-items-center">
            
            <%= link_to '<div class="btn-new"><i class="fa-solid fa-plus fa-3x"></i></div>'
                .html_safe, new_product_path
            %>
            
        </div>
    </div>

    <%= render "product_table", products: @products %>
</div>

