<div id="<%= dom_id sale_product %>">
    <div style="padding:1m 0 1em 0;border:solid 1px">
        <p>
            <strong>Title:</strong>
            <%= sale_product.product.title %>
        </p>
    </div>
</div>