<p style="color: green"><%= notice %></p>

<div class="app">
  <div class="row d-flex justify-content-between">
    <div class="col">
      <h1>Sales</h1>
    </div>
    <div class="col d-flex justify-content-end align-items-center">
      <%= link_to "New sale", new_sale_path %>
    </div>
  </div>

  <div id="sales">
    <% @sales.each do |sale| %>

      <%= render sale %>

      <p>
        <%= link_to "Show this sale", sale %>
      </p>
    <% end %>
  </div>  
</div>